@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600&display=swap');

.link-size{
    font-size: 1.2rem;
}
.hide{
    display:none;
}
.form-title{
    margin-top: 10px;
    margin-bottom: 25px;
}
.doc-upload-warning, .meeting-upload-warning, .required-form-text, .red-text{
    color: red;
}
.event-doc-file-title-text{
    font-size: 1em;
    font-weight: 600;
}
#complete-dropdown{
    max-width: 80%;
}
#event-doc-content{
    width: 50vw;
    height: 10em;
}
#event-doc-agenda, .event-doc-file{
    max-width: 100%;
}
.ind-report-concern-mobile{
    color: white;
    padding: 5px 10px;
    float: right;
}
/* modal */
.ind-modal-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.57);
}
.ind-modal-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
}
.ind-inside-modal-container, .ind-modal-inside-container{
    position: absolute;
    background: white;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10vh;
    width: 100vw;
    max-width: 500px;
    padding: 25px;
    border-radius: 15px;
}
.ind-page-title{
    color: white;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    font-size: 3rem;
}
.org-header-hero-second-container{
    position: absolute;
    width: 1200px;
    max-width: 100vw;
    text-align: center;
}
.org-header-hero-text{
    position: relative;
    top: -300px;
    width: 1200px;
    margin: auto;
    max-width: 100%;
}
.ind-modal-inside-container{
    position:fixed;
    top: 50%;
    transform:translateY(-50%);
}
.org-header-hero{
    height: 300px;
    position: relative;
    background-size: cover;
}
.org-header-hero:after{
    content: '';
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.51);
}
.ind-notice-header{
    color: red;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
    border-bottom: red 1px solid;
    margin-bottom: 10px;
}
.ind-modal-x{
    position: relative;
    left: 99.7%;
    top: -16px;
    border: black 1px solid;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 19px;
    border-radius: 48%;
    font-weight: 600;
}
.ind-modal-x:hover{
    background: #656565;
    color:white;
    cursor: pointer;
}
#gform_fields_1{
    max-width: 500px;
}

/* org-search-form */
#ind-doc-search-form{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.doc_page_selected{
    text-decoration: none;
    color: black;
    cursor: auto;
}
#start-date-search, #end-date-search{
    max-width: 150px;
}
#ind-search-submit{
    max-height: 40px;
    margin-top: 20px;
}

/* loading */
.indsha-loading-background{
	position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.353);
    z-index: 99999999;
}
#indsha-loading-icon{
    position: absolute;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    animation: ind-fade 1s ease-in-out 1;
}
.ind-image{
  	position: absolute;
  	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.ind-image-rev{
  	position: absolute;
  	-webkit-animation:revspin 4s linear infinite;
    -moz-animation:revspin 4s linear infinite;
    animation:revspin 4s linear infinite;
}
.ind-image-rev-2{
  	position: absolute;
  	-webkit-animation:revspin 5s linear infinite;
 	-moz-animation:revspin 5s linear infinite;
 	animation:revspin 5s linear infinite;
}


/**********
MENU STYLES
**********/

#menu-global-menu {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    height: 100%;
}

#menu-global-menu > li {
    padding: 35px 25px;
    font-size: 1.35em;
    line-height: 1;
    position: static;
    background: white;
    transition: background 0.35s ease-in-out;
}

#menu-global-menu > li:hover {
    background: #efefef;
    cursor: pointer;
}

#menu-global-menu ul {
    margin: 0;
    list-style: none;
}
.ind-saved-form{
    color:green;
}
#menu-global-menu .alert-button {
    padding: 20px 25px;
    background: #DE5000;
    margin: 0;
    justify-self: flex-end;
    float: none;
    margin-left: auto;
}
.margin-0, .upcoming-events-list{
    margin: 0;
}
.margin-top-0{
    margin-top: 0;
}
.single-event-title{
    font-size: 1.5em;
}
#menu-global-menu .alert-button:hover {
    background: #BE3000;
}

#menu-global-menu > li > ul {
    display: none;
    /* display: flex; */
    padding: 15px;
    position: absolute;
    background: white;
    left: 0;
    top: 98%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -15px;
    line-height: 1.35;
    transition: transform 0.35s ease-in-out;
}

/* #menu-global-menu > li > ul:first-of-type {
    display: flex;
} */

#menu-global-menu > li:hover > ul {
    display: flex;
    margin-bottom: 0;
    opacity: 1;
}

#menu-global-menu > li > ul > li {
    /* text-decoration: underline; */
    font-weight: 600;
    font-size: 0.8em;
    min-width: 30%;
}

#menu-global-menu > li > ul > li > ul{
    display: block;
}

#menu-global-menu > li > ul > li > ul > li{
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
}
/******************* 
Alert Styles
********************/
.alert-header{
    font-weight: 600;
    color:white;
}
.alert-text{
    color:white;
}
.alert-bg{
    background: #960000;
}
.alert-container{
    max-width: 1200px;
    width:100%;
    margin: auto;
}
.alert-bg:nth-child(odd){
    background: red;
}

@keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-moz-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-webkit-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes revspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes revspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes revspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/* desktop */
@media only screen and (min-width: 1025px){
    #ind-doc-search-form{
        flex-direction: row;
    }
    .ind-page-title{
        font-size: 5rem;
    }
}
