.hide{
    display:none;
}
.form-title{
    margin-top: 10px;
    margin-bottom: 25px;
}
.doc-upload-warning, .meeting-upload-warning, .required-form-text, .red-text{
    color: red;
}
.event-doc-file-title-text{
    font-size: 1em;
    font-weight: 600;
}
#complete-dropdown{
    max-width: 80%;
}
#event-doc-content{
    width: 50vw;
    height: 10em;
}
#event-doc-agenda, .event-doc-file{
    max-width: 100%;
}

/* modal */
.ind-modal-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.57);
}
.ind-modal-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}
.ind-inside-modal-container{
    position: absolute;
    background: white;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10vh;
    width: 100vw;
    max-width: 500px;
    padding: 25px;
    border-radius: 15px;
}
.ind-modal-x{
    position: relative;
    left: 99.7%;
    top: -16px;
    border: black 1px solid;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 19px;
    border-radius: 48%;
    font-weight: 600;
}
.ind-modal-x:hover{
    background: #656565;
    color:white;
    cursor: pointer;
}
#gform_fields_1{
    max-width: 500px;
}

/* org-search-form */
#ind-doc-search-form{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
#start-date-search, #end-date-search{
    max-width: 150px;
}
#ind-search-submit{
    max-height: 40px;
    margin-top: 20px;
}

/* loading */
.indsha-loading-background{
	position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.353);
    z-index: 99999999;
}
#indsha-loading-icon{
    position: absolute;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    animation: ind-fade 1s ease-in-out 1;
}
.ind-image{
  	position: absolute;
  	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.ind-image-rev{
  	position: absolute;
  	-webkit-animation:revspin 4s linear infinite;
    -moz-animation:revspin 4s linear infinite;
    animation:revspin 4s linear infinite;
}
.ind-image-rev-2{
  	position: absolute;
  	-webkit-animation:revspin 5s linear infinite;
 	-moz-animation:revspin 5s linear infinite;
 	animation:revspin 5s linear infinite;
}
@keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-moz-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-webkit-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes revspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes revspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes revspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/* desktop */
@media only screen and (min-width: 1025px){
    #ind-doc-search-form{
        flex-direction: row;
    }
}